body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4; /* Warna latar belakang halaman */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Menempatkan halaman di tengah layar */
}

.login-container {
    background-color: #fff; /* Warna latar belakang kontainer login */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk kontainer */
    padding: 20px;
    width: 300px; /* Lebar kontainer login */
    text-align: center;
}

h2 {
    color: #333; /* Warna teks */
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd; /* Warna garis tepi input */
    border-radius: 4px;
}

button {
    padding: 10px;
    width: 100%;
    background-color: #4caf50; /* Warna latar belakang tombol login */
    color: #fff; /* Warna teks tombol login */
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049; /* Warna latar belakang tombol login saat dihover */
}